<h1>Lab 03</h2>
<style>
.table td,th {
   text-align: right;
}
.rotate-45-left {
	display: inline-block;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
</style>
<form role="form" class="form">
<div class="row>">
<h2> Sequences </h2>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" ng-model="randomSize" placeholder="Sequence Size"/>
</div>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" ng-model="populationSize" placeholder="Population Size"/>
</div>
<div class="form-group col-sm-4">
	<button class="btn btn-default form-control " ng-click="randomSeq()">Generate the population</button>
</div>
</div>
<div class="row">
<div class="form-group col-sm-12">
    <textarea class="form-control" rows="10" ng-model="fasta">{{ fasta }}</textarea>
</div>
</div>
</form>

<div class="row">
<form role="form" class="form">
<h2> Sequences </h2>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" ng-model="generationsNumber" placeholder="Number Generations"/>
</div>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" step="any" ng-model="mr" placeholder="Mutation Rate"/>
</div>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" step="any"  ng-model="rr" placeholder="Recombination Rate"/>
</div>
<div class="form-group col-sm-4">
	<input class="form-control" type="number" ng-model="rfl" placeholder="Recombination Fragment Length"/>
</div>
<div class="form-group col-sm-4">
	<button class="btn btn-default form-control " ng-click="evolve()">Evolve</button>
</div>
</form>
</div>
<div>
Total time: {{ totalTime }}ms<br/>
Hamming Distance: {{hammingDist}}<br/>
Jukes Distance: {{jukes}}


</div>

