<h1>Lab 05</h2>
<style>
    .table td,th {
    text-align: right;   
    }
    .rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
</style>

<form role="form" class="form">
    <div class="form-group">
        <h2> States </h2>
        <div class="row">
                <input  class="form-control" type="number" ng-model="numberStates" ng-change="reset()"/>
        </div>
    </div>
    </div>
    <div class="form-group">
        <h2>Machine description</h2>
        <div class="row">
            <button class="btn btn-info form-control" ng-click="loadDefault()">Carregar Valores</button>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Start Prob</th>
                    <th ng-repeat="state in states">
                        {{state}}
                    </th>
                </tr>
                <tr>
                    <td>start</td>
                    <td ng-repeat="state in states">
                        <input type="number" step="any" ng-model="start[state]">
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th> Acids
                    </th>
                    <th ng-repeat="state in states">
                        {{state}}
                    </th>
                </tr>
                <tr ng-repeat="acid in acids">
                    <td>{{acid}}
                    </td>
                    <td ng-repeat="state in states">
                        <input type="number" step="any" ng-model="emission[acid][state]">
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        from to 
                    </th>
                    <th ng-repeat="state in states">
                        {{state}}
                    </th>
                </tr>
                <tr ng-repeat="state in states">
                    <td>
                        {{state}}
                    </td>
                    <td ng-repeat="toState in states">
                        <input type="number" step="any" ng-model="transition[state][toState]">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <h2>Sequence</h2>
        <div class="row">
            <div class="form-group">
                <input  class="form-control" type="text" ng-model="sequence" pattern="[ATCG]*" />
            </div> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <button class="btn btn-primary form-control" ng-click="computeHMM()">Calcular</button>
        </div>
    </div>
</form>
<!--Start {{start}}-->
<!--Emission {{emission}}-->
<!--Transition {{transition}}-->

<!-------------------->
<!--Matrix {{modelMx}}-->
<p>Output: {{ bestValue}}</p>
<p>State sequence: {{resultStates}}</p>
<p>Forward Algorithm -  P(x): {{forwardProb}}</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th ng-repeat="item in sequence track by $index">
            {{item}}
        </th>
    </tr>
    <tr ng-repeat="state in states">
        <td>{{state}}
        </td>
        <td ng-repeat="item in sequence track by $index">
            <strong>{{ modelMx[$index][$parent.$index].value}}</strong>
            {{ modelMx[$index][$parent.$index].path}}
        </td>
    </tr>
</table>
