<div class="jumbotron">
  <h1>BC Labs</h1>
  <p>Tools made for the labs of Computational Biology in 2014, the code is under the AGPL3 license, and available on <span class="glyphicon glyphicon-"></span> code and full license available on <a href="https://github.com/diutsu/bc-labs">github.com/diutsu/bc-labs</a></p>
  <div class="row">
  <div class="col-sm-4"><a class="btn btn-lg btn-success" ng-href="#/BC/Lab02">Lab 02</a></div>
  <div class="col-sm-4"><a class="btn btn-lg btn-success" ng-href="#/BC/Lab05">Lab 05</a></div>
  <div class="col-sm-4"><a class="btn btn-lg btn-success" ng-href="#/BC/Lab08">Lab 08</a></div>
  </div>
</div>
<div class="row">
<div class="col-sm-12">
<h4> Labs List</h4>
  <p><span class="glyphicon glyphicon-link"></span><a ng-href="#/BC/Lab02"> Lab 02 - Sequence Alignment</a></p>
  <p><span class="glyphicon glyphicon-link"></span><a ng-href="#/BC/Lab05"> Lab 05 - Hidden Markov Models</a></p>
  <p><span class="glyphicon glyphicon-link"></span><a ng-href="#/BC/Lab08"> Lab 08 - Molecular Phylogenetics</a></p>
</div>
</div>